body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container {
  width: 80vw;
  height: 80vh;
  margin-top: 30px;
  margin: 20px auto;
  overflow: scroll;

  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

h1 {
  color: #333;
  font-weight: bolder;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 40px;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

form input {
  width: 20%;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-btn {
  background-color: #28a745;
}

.read-btn {
  background-color: #007bff;
}

.update-btn {
  background-color: #ffc107;
}

.delete-btn {
  background-color: #dc3545;
}
.edit-btn {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-bt {
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 34px;
}
td button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

td button:hover {
  opacity: 0.8;
}
button:nth-child(2) {
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table th {
  background-color: #0ab0f8;
  font-weight: bolder;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tr td:last-child {
  text-align: center;
}
